select{
	list-style: none;
}

ul a{
	text-decoration: none;
}



nav ul {
    list-style:none;
}


html,body,div,h1,h2,h3,h4,h5,h6,p{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
}
body{
	line-height: 1;
	font-size: 14px;
	background: black;
	
}


a:link,a:hover,a:active,a:visited{text-decoration:none;}

.wrapper{
	width: 750px;
	height: 1334px;
	background: #5d5d5d; /* For browsers that do not support gradients */
	background: -webkit-radial-gradient(circle,#5d5d5d, #222, #1e1e1e); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(circle,#5d5d5d, #222, #1e1e1e); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(circle,#5d5d5d, #222, #1e1e1e); /* For Firefox 3.6 to 15 */
	background: radial-gradient(circle,#5d5d5d, #222, #1e1e1e); /* Standard syntax */

	margin: 50px auto;
	position: relative;
	font-family: sans-serif;
}

.top-nav{
	width: 100%;
	height: 73px;
	background: #3e8e16;
    background: -webkit-linear-gradient(#5aa51f, #22790d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#5aa51f, #22790d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#5aa51f, #22790d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#5aa51f, #22790d); /* Standard syntax */
    color: #fff;
    text-align: center;
    font-size: 36px;
    padding-top: 30px;
    font-weight: bold;
}

.card-1{
	width: 677px;
	height: 376px;
	background-image: url(../img/card-2.jpg);
	float: right;
}

.pay-btn{

	background-image: url(../img/pay-btn-2.png);
	width: 153px;
	height: 153px;
	float: right;
	margin-top: 355px;
	margin-right: 42px;

}

a .pay-btn:hover{
	opacity: 0.9;
	cursor: pointer;
}

.content-box{
	width: 100%;
	height: 700px;
}

.txt{
	color: #fff;
	font-size: 36px;
	margin: -250px auto 0 auto;
	width: 100%;
	height: auto;
	text-align: center;

}
.menu-bar{
	width: 100%;
	height: 136px;
	background-image: url(../img/menu.jpg);
	position: absolute;
	bottom: 0;


}

